JWT__Issuer=http://localhost:5196
JWT__Audience=http://localhost:5196
JWT__SigningKey=replace-with-a-long-random-secret
ConnectionStrings__DefaultConnection=Data Source=Ethan\\SQLEXPRESS;Initial Catalog=Folio;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False
